<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"/>
<body>
    <nav th:replace="fragments::navigation(delegates)"/>
    <div class="container">
        <div class="starter-template">
            <h1>ARK forging delegates</h1>
            <table id="delegates" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Rate</th>
                        <th>User name</th>
                        <th>Vote</th>
                        <th>Approval</th>
                        <th>Produced blocks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="delegate : ${delegates}">
                        <td th:text="${delegate.rate}"></td>
                        <td>
                            <a th:href="@{/delegate/{publicKey}/voters(publicKey=${delegate.publicKey})}">
                                <span th:text="${delegate.username}"/>
                            </a>
                        </td>
                        <td th:text="${#numbers.formatInteger(T(by.maxi.blockchain.ark.Utils).toArk(delegate.vote), 0, 'DEFAULT')}"></td>
                        <td th:text="${delegate.approval} + '%'"></td>
                        <td th:text="${delegate.producedblocks}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>