<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"/>
<body>
    <nav th:replace="fragments::navigation(delegates)"/>
    <div class="container">
        <div class="starter-template">
            <h1>ARK delegate voters</h1>

            <div class="row">
                <div class="col-md-2">
                    <strong>Total voters: </strong>
                    <span th:text="${total}"/>
                </div>
                <div class="col-md-2">
                    <strong>Actual voters: </strong>
                    <span th:text="${actual}"/>
                </div>
                <div class="col-md-4">
                    <strong>Average balance: </strong>
                    <span th:text="${#numbers.formatDecimal(mean, 0, 'DEFAULT', 2, 'DEFAULT')}"/>
                </div>
            </div>

            <h2>Top voters</h2>
            <table id="voters" class="table table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Address</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="voter, iterStat : ${voters}">
                        <td th:text="${iterStat.count}"/>
                        <td th:text="${voter.address}"/>
                        <td th:text="${#numbers.formatInteger(voter.balance, 0, 'DEFAULT')}"/>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>